extends layoutProfilDisconnect

block content
    
    div.blockcontent
        div.addEtBareme
            a(href="creationmarque")
                button(type='button')
                        | Ajouter
            div
            div
            i.far.fa-question-circle
        
        div.bareme
        
        form.searchBarEtSubmit(action="/marque", method="post")    
            input.searchBar(type="search", id="nom_marque_recherche", placeholder="Entrez la marque ", spellcheck="false", autocomplete="off", name="searchMarque")
            button(type="submit")  
                i.fas.fa-search
        
        div.resultatRecherche

        
        