extends layout

block content

    p.intro.welcome Bienvenue sur Raise ! 

    div.intro
        | Née d'un constat globalement alarmant sur l'avenir de notre planète et de notre société, nous avons créé Raise
        br
        | Cette application vous permettra d'effectuer des recherches concernant les marques présentes sur le territoire français, et de voir quelles notes sur 5 elles ont reçu! Le barème du code couleur est accessible en cliquant sur le bouton point d'interrogation. 
    p.intro
        | A bientôt sur Raise !
    
    div.boxConnexionForm
        form.connexionForm(method="post" action="/")
            input(type='text', name='pseudo_user', size="30", placeholder='Votre pseudo', title="Entre 3 et 15 caractères", pattern="[A-Za-z0-9]+", minlength="3", maxlength="15", autocomplete="off", required)
            input(type='password', name='password_user', size="30", placeholder='Votre password', title="Entre 5 et 15 caractères", pattern="[A-Za-z0-9]+", autocomplete="off", minlength="5", maxlength="15", required)

            button(type='submit')
                | Connexion
        p.mdpOublie
            a(href="/oublimdp") Mot de passe oublié?
        p.creerCompte
            a(href="/inscription") Créer un compte