extends layoutProfilDisconnect

block content
    a(href="creationlobby")
        button.addLobby
            |   Ajouter Lobby

    form.creationMarqueForm(action="/creationmarque" method="post")
        input(type="text", placeholder="Nom de la marque", name="nom_marque", minlength="3", maxlength="15", required)
        .gradebox
            select#grade(name="grade")
                option.red(value=4) E
                option.orange(value=3) D
                option.yellow(value=2) C
                option.green(value=1) B
                option.deepGreen(value=0) A
            div.pastilleMarque
        textarea(cols="30", rows="10", minlength="0", maxlength="1000", placeholder="Description" name="desc_marque" required)
        select(name="nom_lobby")
            each nom_lobby in listeLobby
                option(value=nom_lobby.nom_lobby) #{nom_lobby.nom_lobby}
        button(type="submit")
            |   Enregistrer

        script(src='/js/changeColorMarque.js') 