extends layoutProfilDisconnect

block content

    form.creationLobbyForm(action="/creationlobby", method="post")
        input(type="text", name="nom_lobby", placeholder="Nom du lobby", minlength="2", maxlength="15", required)
        .gradebox
            select#grade(name="grade")
                option.red(value=4) E
                option.orange(value=3) D
                option.yellow(value=2) C
                option.green(value=1) B
                option.deepGreen(value=0) A
            div.pastilleLobby
        textarea(cols="30", rows="10", minlength="0", maxlength="1000", placeholder="Description", name="desc_lobby" required)
                                
        button(type="submit")
            |   Enregistrer

        script(src='/js/changeColorLobby.js') 
        