extends layoutProfilDisconnect

block content

    p.warningDestroy   
        |   Afin de supprimer votre compte, veuillez renseigner votre mot de passe. 
    p.warningDestroy
        |   Attention! Cette action est définitive!

    form.destroyBox(action="/destroy" method="post")
        
        input(type="password", name="pwDestroy", size="100", placeholder="Password", pattern="[A-Za-z0-9]+", minlength="5", maxlength="15", required)
        
        input(type="password", name="pwDestroyConfirmation", size="100", placeholder="Confirmez Password", pattern="[A-Za-z0-9]+", minlength="5", maxlength="15", required)

        button(type="submit")
            
            i.fas.fa-user-slash