extends layoutProfilDisconnect

block content

    form.emailChangeBox(action="" method="post")

        input(type="password", name="pwCheck", size="100", placeholder="Votre Password", pattern="[A-Za-z0-9]+", title="Entre 5 et 15 caractères", minlength="5", maxlength="15", required)

        input(type="email", name="emailChange", size="100", placeholder="Nouvel Email", value=eMailUser, required)
        input(type="email", name="emailChangeConfirmation", size="100", placeholder="Confirmez", value=eMailUser, required)

        button(type="submit")
            | Modifier