extends layout

block content

    div.boxInscriptionForm
        form#formInscription.inscriptionForm(action='/inscription' method='POST')
            input(type="text", name="nom_rgpd", size="30", placeholder="Votre nom", title="Entre 3 et 15 caractères", pattern="[A-Za-z]+", minlength="3", maxlength="15", autocomplete="off", required)
            input(type="text", name="prenom_rgpd", size="30", placeholder="Votre prénom", title="Entre 3 et 15 caractères", pattern="[A-Za-z]+", minlength="3", maxlength="15", autocomplete="off", required)
            input(type='text', name='pseudo_user', size="30", placeholder='Votre pseudo', title="Entre 3 et 15 caractères", pattern="[A-Za-z0-9]+", minlength="3", maxlength="15", autocomplete="off", required)
            input(type="email", name="email_user", size="100", placeholder="Votre Email", title="chose@stuff.truc", minlength="5", maxlength="30", autocomplete="off", required)
            input(type='password', name='password_user', size="30", placeholder='Votre password', title="Entre 5 et 15 caractères", pattern="[A-Za-z0-9]+", autocomplete="off", minlength="5", maxlength="15", required)
            div.cgu
                input#CGU(type='checkbox', name='cgu', value='cgu' required)
                label(for='CGU') En cochant cette case vous acceptez nos Conditions Generales d'Utilisation
            button(type='submit' form='formInscription' formaction='/inscription' formmethod="POST" formtarget="_self" value='Submit')
                | Inscription