doctype html
html(lang='fr')
head
    title Raise
    // inserer le CDN bootstrap
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')  
    link(rel='stylesheet', type='text/css', href='/css/normalize.css')  
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js')
    
body
    header.profilDisconnect
        a.fas.fa-user-circleBox(href="/profil")
            i.fas.fa-user-circle
        a(href="/accueil")    
            h1 Raise
        a.fas.fa-power-off(href="/deconnexion")
                
            
    p.userConnected    
        - connection = "Connecté en tant que " +userName
        =connection 
    

    block content

    footer
        p © 2019 - Ludovic Peysson - Tout droits réservés
    
    