extends layoutProfilDisconnect

block content

    form.modifierLobbyForm(method="post")
        input(type="text", name="nom_lobby", placeholder="Nom de la marque", minlength="3", maxlength="15", value=Lobby.nom_lobby, required)
        
        p.pastilleChoix
            |   Choisissez la pastille correspondante
        
        .pastilleForm
            select#grade(name="grade")
                -if (Lobby.pastille_lobby==4)
                    option.red(value=4 selected) E
                -else
                    option.red(value=4) E
                -if (Lobby.pastille_lobby==3)
                    option.orange(value=3 selected) D
                -else
                    option.orange(value=3) D
                -if (Lobby.pastille_lobby==2)
                    option.yellow(value=2 selected) C
                -else
                    option.yellow(value=2) C
                -if (Lobby.pastille_lobby==1)
                    option.green(value=1 selected) B
                -else
                    option.green(value=1) B
                -if (Lobby.pastille_lobby==0)
                    option.deepGreen(value=0 selected) A 
                -else
                    option.deepGreen(value=0) A

            div.pastilleLobby
    
        textarea(name="desc_lobby", cols="30", rows="10", minlength="0", maxlength="1000" placeholder="Description")=Lobby.desc_lobby
        
        button(type="submit")
            |   Modifier
            
    script(src='/js/changeColorLobby.js') 