extends layoutProfilDisconnect

block content

    form.modifierMarqueForm(method='post')
    
        input(type="text", name="nom_marque", placeholder="Nom de la marque", minlength="3", maxlength="15", value=marque.nom_marque, required)
            
        p.pastilleChoix
            |   Choisissez la pastille correspondante

        .pastilleForm
            select#grade(name="grade")
                -if (marque.pastille_marque==4)
                    option.red(value=4 selected) E
                -else
                    option.red(value=4) E
                -if (marque.pastille_marque==3)
                    option.orange(value=3 selected) D
                -else
                    option.orange(value=3) D
                -if (marque.pastille_marque==2)
                    option.yellow(value=2 selected) C
                -else
                    option.yellow(value=2) C
                -if (marque.pastille_marque==1)
                    option.green(value=1 selected) B
                -else
                    option.green(value=1) B
                -if (marque.pastille_marque==0)
                    option.deepGreen(value=0 selected) A 
                -else
                    option.deepGreen(value=0) A
                

            div.pastilleMarque
        
        textarea(name="desc_marque", cols="30", rows="10", minlength="0", maxlength="1000", placeholder="Description")=marque.desc_marque
            

        p.lobbyChoix
            |   La marque est-elle associée à un lobby?

        .selectLobby
            select(name="lobby")
                each nom_lobby in lobbyInfos
                    option(value=nom_lobby.nom_lobby) #{nom_lobby.nom_lobby}
        
        button(type="submit")
            |   Modifier

    script(src='/js/changeColorMarque.js')