extends layoutProfilDisconnect

block content

    div.boxMarqueLobby
        div.boxInfosMarque
            h2
                =marqueInfos.nom_marque
            
            -if (marqueInfos.pastille_marque ==0)
                div.pastille0
            -if (marqueInfos.pastille_marque ==1)
                div.pastille1
            -if (marqueInfos.pastille_marque ==2)
                div.pastille2
            -if (marqueInfos.pastille_marque ==3)
                div.pastille3
            -if (marqueInfos.pastille_marque ==4)
                div.pastille4             
            
            div.infosMarque
                p=marqueInfos.desc_marque
            
            a(href="/marquemodifier/"+marqueInfos.nom_marque)
                button(type="button")
                    |   Modifier
        
        div.boxInfosLobby
            div.infosLobby
                h2
                    =marqueInfos.nom_lobby
                
            -if (marqueInfos.pastille_lobby ==0)
                div.pastille0
            -if (marqueInfos.pastille_lobby ==1)
                div.pastille1
            -if (marqueInfos.pastille_lobby ==2)
                div.pastille2
            -if (marqueInfos.pastille_lobby ==3)
                div.pastille3
            -if (marqueInfos.pastille_lobby ==4)
                div.pastille4             
            
            div.infosMarque
                p=marqueInfos.desc_lobby

            a(href="/lobbymodifier/"+marqueInfos.nom_lobby)
                button(type="button")
                    |   Modifier
