extends layoutProfilDisconnect

block content

    form.passwordChangeBox(action="" method="post")

        input(type="password", name="pwCheck", size="100", placeholder="Votre Ancien Password", pattern="[A-Za-z0-9]+", title="Entre 5 et 15 caractères", minlength="5", maxlength="15", required)

        input(type="password", name="pwChange", size="100", placeholder="Votre Nouveau Password", pattern="[A-Za-z0-9]+", title="Entre 5 et 15 caractères", minlength="5", maxlength="15", required)
        input(type="password", name="pwChangeConfirmation", size="100", placeholder="Confirmez votre Password", pattern="[A-Za-z0-9]+", title="Entre 5 et 15 caractères", minlength="5", maxlength="15", required)


        button(type="submit")
            | Modifier