extends layout

block content

    p.oubliMdp
        | Vous avez oublié votre mot de passe?
    div.boxOubliMdpForm
        form.oubliMdpForm
            input(type="email", name="email", size="100", placeholder="Votre Email" required)
            button(type='submit')
                | Envoyer