extends layoutDisconnect

block content

    p.modP
        |   Modifier :

    .boxChanges
        a(href="/emailmodifier")
            p
                |   Mail

        a(href="/mdpmodifier")
            p
                |   Password

    .boxInfosProfil
        p=eMailUser
        p=userName
        
    .deleteBox
        p
            |   Vous désirez supprimer votre compte? 
        a(href='/destroy')
            i.fas.fa-user-slash
