*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a{
    color: black;
}
/* ---------------------------------------------------------------------- TEMPLATE*/
header{
    width: 100%;
    background-color: lightgreen;
}
header h1{
    font-size: 7vh;
    
    text-align: center;
}
footer{
    width: 100%;
    height: 6vh;
    background-color: lightgreen;
    position: sticky;
    bottom: 0;
}
footer p{
    text-align: center;
    font-size: 30px;
    line-height: 6vh;
}
.title{
    text-align: center;
    font-size: 60px;
    color: rgb(7, 79, 87);
}
.nomMarque{
    margin: 50px 0;
}
h2{
    font-size: 4.5vh;
    margin: 50px 0;
}
p{
    font-size: 2.5vh;
}
.userConnected{
    align-self: center;
    margin: 20px 20px 20px 0;
    font-size: 1.4vh;
    align-self: flex-end;
}
/* ----------------------------------------------------- TEMPLATE PROFIL DISCONNECT*/
.profilDisconnect{
    width: 100%;
    background-color: lightgreen;
    display: flex;
    justify-content: space-around;
}
.profilDisconnect a{
    text-decoration: none;
    align-self: center;
}
.fas.fa-user-circleBox{
    width: 30%;
    text-align: center;
}
.fas.fa-user-circle{
    line-height: 17vh;
    font-size: 5vh;
    color: rgb(7, 79, 87);
    text-shadow: black 0 0 2px;
}
.fas.fa-user-circle:hover{
    color: rgb(6, 54, 59);
    text-shadow: rgb(7, 79, 87) 1px 0 1px;
}
.fas.fa-power-off{
    line-height: 17vh;
    font-size: 5vh;
    color: red;
    text-shadow: black 0 0 4px;
    width: 30%;
    text-align: center;
}
.fas.fa-power-off:hover{
    text-shadow: rgb(7, 79, 87) 1px 0 3px;
}
/* ---------------------------------------------------------------------- CONNEXION*/
.intro{
    text-align: center;
    font-size: 45px;
    margin: 0 10%;
}
.welcome{
    margin: 5% 0;
}
.boxConnexionForm{
    text-align: -webkit-center;
    text-align: -moz-center;
    height: 700px;
}
.connexionForm{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 8%;
}
.connexionForm input{
    height: 80px;
    border: none;
    border-bottom: 2px solid lightgreen;
    margin-bottom: 50px;
    font-size: 40px;
    color: rgb(7, 79, 87);
    font-weight: bold;
    text-align: center;
}
.connexionForm input::placeholder{
    font-size: 45px;
    color: rgba(78, 205, 195, 0.65);
    text-align: center;
}
.connexionForm button{
    height: 60px;
    font-size: 40px;
    padding: 10px;
    border-style: none;
    margin-top: 10px;
    background-color: rgba(78, 205, 195, 0.65);
}
.connexionForm button:hover{
    background-color: lightgreen;
}
.mdpOublie{
    margin-top: 25px;
    font-size: 30px;
    width: 50%;
    text-align: right;
}
.mdpOublie a{
    text-decoration: none;
    color: rgb(7, 79, 87);
}
.creerCompte{
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
}
.creerCompte a{
    text-decoration: none;
    color: rgb(7, 79, 87);
}
/* ---------------------------------------------------------------INSCRIPION */
.boxInscriptionForm{
    text-align: -webkit-center;
    text-align: -moz-center;
}
.inscriptionForm{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 8%;
}
.inscriptionForm input{
    height: 5vh;
    border: none;
    border-bottom: 2px solid lightgreen;
    margin-bottom: 40px;
    margin-top: 1vh;
    font-size: 30px;
    color: rgb(7, 79, 87);
    font-weight: bold;
    text-align: center;
}
.inscriptionForm input::placeholder{
    font-size: 40px;
    color: rgba(78, 205, 195, 0.65);
    text-align: center;
}
.cgu{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.cgu input{
    width: 10%;
    margin: auto 0;
}
.cgu label{
    font-size: 23px;
}
.inscriptionForm button{
    height: 60px;
    font-size: 40px;
    padding: 10px;
    border-style: none;
    background-color: rgba(78, 205, 195, 0.65);
    margin-bottom: 50px;
}
.inscriptionForm button:hover{
    background-color: lightgreen;
}
/* ---------------------------------------------------------------OUBLIMDP */
.oubliMdp{
    font-size: 50px;
    text-align: -webkit-center;
    text-align: -moz-center;
    margin-top: -200px;
}
.boxOubliMdpForm{
    text-align: -webkit-center;
    text-align: -moz-center;
    margin-top: -400px;
}
.oubliMdpForm{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 8%;
}
.oubliMdpForm input{
    height: 80px;
    border: none;
    border-bottom: 2px solid lightgreen;
    margin-bottom: 50px;
    font-size: 40px;
    color: rgb(7, 79, 87);
    font-weight: bold;
    text-align: center;
}
.oubliMdpnForm input::placeholder{
    font-size: 45px;
    color: rgba(78, 205, 195, 0.65);
    text-align: center;
}
.oubliMdpForm button{
    height: 60px;
    font-size: 40px;
    padding: 10px;
    border-style: none;
    margin-top: 30px;
    background-color: rgba(78, 205, 195, 0.65);
}
.oubliMdpForm button:hover{
    background-color: lightgreen;
}
/* ---------------------------------------------------------------ACCUEIL */
.addEtBareme{
    display: flex;
    justify-content: space-around;
    font-size: 3vh;
    margin-top: 100px;
}
.blockcontent{
    display: flex;
    flex-direction: column;
    flex: auto;
}
.addEtBareme button{
    padding: 10px;
    border-style: none;
    background-color: rgba(78, 205, 195, 0.65);
}
.addEtBareme button:hover{
    background-color: lightgreen;
}
.far.fa-question-circle{
    color: rgba(78, 205, 195, 0.65);
    font-size: 5vh;
}
.far.fa-question-circle:hover{
    color: lightgreen;
}
.searchBarEtSubmit{
    display: flex;
    align-items: center;
    align-self: center;
    margin-top: 300px;
    font-size: 2.8vh;
    border-bottom: 4px solid lightgreen;
}
.searchBarEtSubmit a{
    color: rgba(78, 205, 195, 0.65);
}
.searchBarEtSubmit button{
    background-color: transparent;
    border-style: none;
}
.searchBarEtSubmit a:visited{
    color: rgba(78, 205, 195, 0.65);
}
.searchBarEtSubmit a:hover{
    color: lightgreen;
}
.searchBar{
    border-style: none;
    height: 80px;
    border: none;
    color: rgb(7, 79, 87);
    font-weight: bold;
    text-align: center;
}
.searchBar::placeholder{
    color: rgba(78, 205, 195, 0.65);
    text-align: center;
}
/* ---------------------------------------------------------------PROFIL */
.modP{
    font-size: 5vh;
    text-align: center;
    margin-top: 50px;
}
.boxChanges{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
}
.boxChanges a{
    font-size: 40px;
    padding: 10px;
    width: 20%;
    text-decoration: none;
    border-style: none;
    margin-top: 30px;
    background-color: rgba(78, 205, 195, 0.65);
}
.boxChanges a:hover{
    background-color: lightgreen;
}
.boxChanges a p{
    text-align : center;
}
.boxInfosProfil{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}
.boxInfosProfil p{
    height: 80px;
    border-bottom: 2px solid lightgreen;
    margin-bottom: 50px;
    font-size: 40px;
    color: rgb(7, 79, 87);
    font-weight: bold;
    text-align: center;
}
.deleteBox{
    width: 50%;
    padding:20px;
    align-self: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    background-color: rgba(242, 186, 201, 0.65);
}
.deleteBox p{
    align-self: center;
}
.fas.fa-user-slash{
    font-size: 6vh;
    color: red;
    text-shadow: black 0 0 5px;
}
.fas.fa-user-slash:hover{
    text-shadow: rgb(7, 79, 87) 1px 0 3px;
}
/* ---------------------------------------------------------------EMAILMOD */
.emailChangeBox{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
}
.emailChangeBox input{
    height: 80px;
    border-style: none;
    border-bottom: 2px solid lightgreen;
    margin-bottom: 50px;
    font-size: 40px;
    color: rgb(7, 79, 87);
    font-weight: bold;
    text-align: center;
}
.emailChangeBox button{
    padding: 10px;
    border-style: none;
    background-color: rgba(78, 205, 195, 0.65);
    font-size: 40px;
    margin-top: 50px;
    width: fit-content;
    align-self: center;
}
.emailChangeBox button:hover{
    background-color: lightgreen;
}
/* ---------------------------------------------------------------PWMOD */
.passwordChangeBox{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
}
.passwordChangeBox input{
    height: 80px;
    border-style: none;
    border-bottom: 2px solid lightgreen;
    margin-bottom: 50px;
    font-size: 40px;
    color: rgb(7, 79, 87);
    font-weight: bold;
    text-align: center;
}
.passwordChangeBox button{
    padding: 10px;
    border-style: none;
    background-color: rgba(78, 205, 195, 0.65);
    font-size: 40px;
    margin-top: 50px;
    width: fit-content;
    align-self: center;
}
.passwordChangeBox button:hover{
    background-color: lightgreen;
}
/* ---------------------------------------------------------------MARQUE */
.boxMarqueLobby{
    text-align: center;
}
.infosMarque{
    padding: 50px;
    width: 50%;
    margin: auto;
}
.boxInfosMarque button{
    padding: 10px;
    border-style: none;
    background-color: rgba(78, 205, 195, 0.65);
    font-size: 40px;
    margin-top: 50px;
}
.boxInfosMarque button:hover{
    background-color: lightgreen;
}
.infosLobby{
    padding: 50px;
    width: 50%;
    margin: auto;
}
.boxInfosLobby{
    margin-bottom: 50px;
}
.boxInfosLobby button{
    padding: 10px;
    border-style: none;
    background-color: rgba(78, 205, 195, 0.65);
    font-size: 40px;
    margin-top: 50px;
}
.boxInfosLobby button:hover{
    background-color: lightgreen;
}
/* ---------------------------------------------------------------MODIFIER MARQUE */
.modifierMarqueForm{
    text-align: center;
}
.modifierMarqueForm input{
    height: 80px;
    border: none;
    border-bottom: 2px solid lightgreen;
    margin-bottom: 100px;
    font-size: 40px;
    color: rgb(7, 79, 87);
    font-weight: bold;
    text-align: center;
}
.pastilleChoix{
    text-align: center;
    font-size: 40px;
    color: rgb(7, 79, 87);
}
.pastilleForm{
    text-align: center;
    font-size: 40px;
    margin: 50px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.pastille, .pastille0, .pastille1, .pastille2, .pastille3, .pastille4, .pastilleMarque, .pastilleLobby{
    margin: auto;
    margin-bottom: 50px;
    width: 30px;
    height: 30px;
    border: 5px solid black;
    border-radius: 50%;
}
.pastilleMarque, .pastilleLobby, .pastille0{
    background-color: red;
}
.modifierMarqueForm textarea{
    border-style: none;
    width: 50%;
    border: lightgreen 2px solid;
    border-radius: 15px;
    padding: 20px;
    margin: 50px 0;
}
.modifierMarqueForm button{
    padding: 10px;
    border-style: none;
    background-color: rgba(78, 205, 195, 0.65);
    font-size: 40px;
    margin: 50px 0;
}
.modifierMarqueForm button:hover{
    background-color: lightgreen;
}
.selectLobby{
    text-align: center;
    font-size: 50px;
} 
.red{
    color: red;
    background-color: gray;
}
.orange{
    color: orangered;
    background-color: gainsboro;
}
.yellow{
    color: yellow;
    background-color: gray;
}
.green{
    color: yellowgreen;
    background-color: gainsboro;
}
.deepGreen{
    color: green;
    background-color: gray;
}
.pastille0{
    background-color: green;
}
.pastille1{
    background-color: yellowgreen;
}
.pastille2{
    background-color: yellow;
}
.pastille3{
    background-color: orangered;
}
.pastille4{
    background-color: red;
}
.modifierMarqueForm select{
    border-style: none;
}
.lobbyChoix{
    text-align: center;
    font-size: 40px;
    color: rgb(7, 79, 87);
    margin-bottom: 50px;
}
/* ---------------------------------------------------------------MODIFIER LOBBY */
.modifierLobbyForm{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modifierLobbyForm input{
    height: 80px;
    border: none;
    border-bottom: 2px solid lightgreen;
    margin: 50px 0;
    font-size: 40px;
    color: rgb(7, 79, 87);
    font-weight: bold;
    text-align: center;
}
.modifierLobbyForm button{
    padding: 10px;
    border-style: none;
    background-color: rgba(78, 205, 195, 0.65);
    font-size: 40px;
    margin: 50px 0;
}
.modifierLobbyForm button:hover{
    background-color: lightgreen;
}
.pastilleChoix{
    text-align: center;
    font-size: 40px;
    color: rgb(7, 79, 87);
}
.pastilleForm{
    text-align: center;
    font-size: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin: 50px auto;
}
.pastilleForm select{
    border-style: none;
    width: 20%;
    text-align-last: center;
}
#pastille{
    width: 30px;
    height: 30px;
    border: 5px solid black;
    background-color: red;
    border-radius: 50%;
}
.modifierLobbyForm textarea{
    border-style: none;
    width: 50%;
    border: lightgreen 2px solid;
    border-radius: 15px;
    padding: 20px;
    margin: 50px 0;
}

/* ---------------------------------------------------------------CREATION MARQUE */
.creationMarqueForm{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
}
.creationMarqueForm input{
    height: 80px;
    border: none;
    border-bottom: 2px solid lightgreen;
    margin: 50px 0;
    font-size: 40px;
    color: rgb(7, 79, 87);
    font-weight: bold;
    text-align: center;
}
.creationMarqueForm input::placeholder{
    font-size: 45px;
    color: rgba(78, 205, 195, 0.65);
    text-align: center;
}
.creationMarqueForm select{
    border-style: none;
    width: 50%;
    font-size: 40px;
    text-align-last: center;
    align-self: center;
    margin-bottom: 50px;
}
.creationMarqueForm textarea{
    border-style: none;
    border: lightgreen 2px solid;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 50px;
}
.creationMarqueForm button{
    padding: 10px;
    border-style: none;
    background-color: rgba(78, 205, 195, 0.65);
    font-size: 40px;
    height: 70px;
    align-self: center;
}
.creationMarqueForm button:hover{
    background-color: lightgreen;
}
.gradebox{
    display: flex;
    justify-content: space-evenly;
}
.addLobby{
    padding: 10px;
    border-style: none;
    background-color: rgba(78, 205, 195, 0.65);
    font-size: 25px;
    margin-top: 50px;
    margin-left: 30px;
    height: 70px;
    width: 200px;
}
.addLobby:hover{
    background-color: lightgreen;
}
/* ---------------------------------------------------------------CREATION MARQUE */
.creationLobbyForm{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
}
.creationLobbyForm input{
    height: 80px;
    border: none;
    border-bottom: 2px solid lightgreen;
    margin-bottom: 50px;
    font-size: 40px;
    color: rgb(7, 79, 87);
    font-weight: bold;
    text-align: center;
}
.creationLobbyForm input::placeholder{
    font-size: 45px;
    color: rgba(78, 205, 195, 0.65);
    text-align: center;
}
.creationLobbyForm select{
    border-style: none;
    width: 50%;
    font-size: 40px;
    text-align-last: center;
    align-self: center;
    margin-bottom: 50px;
}
.creationLobbyForm textarea{
    border-style: none;
    border: lightgreen 2px solid;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 50px;
}
.creationLobbyForm button{
    padding: 10px;
    border-style: none;
    background-color: rgba(78, 205, 195, 0.65);
    font-size: 40px;
    height: 70px;
    align-self: center;
}
.creationLobbyForm button:hover{
    background-color: lightgreen;
}
option{
    font-size: 17px;
}
/* ---------------------------------------------------DESTROY----------------------------------------------------- */
.warningDestroy{
    font-size: 35px;
    text-shadow: red 0px 0 3px;
    text-align: center;
    width: 80%;
    align-self: center;
}
.destroyBox{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
}
.destroyBox input{
    height: 80px;
    border: none;
    border-bottom: 2px solid lightgreen;
    margin-bottom: 50px;
    font-size: 40px;
    color: rgb(7, 79, 87);
    font-weight: bold;
    text-align: center;
}
.destroyBox:hover{
    font-size: 45px;
    color: rgba(78, 205, 195, 0.65);
    text-align: center;
}
.destroyBox button{
    border: none;
    background-color: white;
    width: fit-content;
    align-self: center;
}